$transition-main: all 0.3s ease;

$width-tablet: 768px;
$width-desktop: 1200px;

/*font*/
$font-size-basic: 14px;
$font-size-headline: 18px;
$font-size-headline-bigger: 21px;
$font-size-headline-big: 30px;

$font-line-height-small: 21px;
$font-line-height-basic: 24px;
$font-line-height-headline: 26px;

/*color*/
$color-text: #000;
$color-text-light: #fff;
$color-text-error: #ff5c5c;

$color-bg-light: #ffffff;
$color-bg-dark: #000000;
$color-bg-main: #81b3d2;
$color-bg-main-darken: #669ec0;
$color-bg-main-dark: #5496bd;
$color-bg-intro: #7a8896;
$color-bg-advantages: #eeeeee;
$color-bg-caption: #f2f2f2;

$color-border: #e5e5e5;
$color-border-menu-light: #9ac2db;
$color-border-menu-dark: #678fa8;

$color-btn-disable: #e5e5e5;
$color-btn-academy-down: #b2b2b2;

$color-dark-transparent: rgba(0,0,0,0.3);
$color-light-transparent: rgba(255,255,255,0.3);
