.advantages-item__header-wrap{
    background: $color-bg-main;
    color: $color-text-light;

    @media (min-width: $width-tablet){
      display: flex;

      &--reverse{
        flex-direction: row-reverse;
      }
    }
}
@media (max-width: $width-tablet){
  .advantages-item--first .advantages-item__header-wrap{
    background: $color-bg-main url(../img/bg-triangle.svg) no-repeat 0 -21px / contain;
  }
  .advantages-item--first .advantages-item__header{
    padding-top: 55px;
  }
}
.advantages-item__header{
  padding: 36px 20px 22px;

  @media (min-width: $width-tablet){
    flex: 0 0 256px;
    box-sizing: border-box;
    padding: 45px 47px 25px;
  }

  &--small{
    padding: 25px 15px 13px;
    border-bottom: 1px solid #d6d6d6;

    @media (min-width: $width-tablet){
      border: 0;
      padding: 44px 50px 29px;
    }
  }
  &--last{
    border-bottom: 0;
  }
}
.advantages-item__title{
  font-size: $font-size-headline;
  line-height: $font-line-height-headline;
  margin: 0 0 8px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $width-tablet){
    font-size: $font-size-headline-bigger;
  }
}
.advantages-item__counter{
  font-size: $font-size-basic;
  line-height: $font-line-height-headline;
  margin: 0 0 10px;
  text-align: center;

  &::before,
  &::after{
    background: $color-bg-light;
    content: "";
    color: inherit;
    display: inline-block;
    height: 1px;
    margin: 0 5px;
    vertical-align: middle;
    width: 8px;
  }
  @media (min-width: $width-tablet){
    margin: 0 0 20px;
  }
}
.advantages-item__paragraph{
  font-size: $font-size-basic;
  line-height: $font-line-height-basic;
  margin: 0 0 15px;
  text-align: center;
  text-transform: uppercase;
}
.advantages-item__image{
  height: 260px;
  overflow: hidden;
}
.advantages-item__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
