.advantages-description-item{
    padding: 0 0 8px 45px;

    @media (min-width: $width-tablet){
      padding: 27px 30px 30px;
      text-align: center;

      &:first-of-type{
        order: 1;
      }
    }
}

.advantages-description-item__title{
  font-size: $font-size-headline;
  font-weight: bold;
  line-height: $font-line-height-headline;
  margin: 0 0 5px -50px;
  padding-top: 5px;
  text-transform: uppercase;

  &::before{
    content: "";
    display: inline-block;
    height: 40px;
    margin-right: 10px;
    width: 40px;
    vertical-align: middle;
  }
  &--house::before{
    background: url(../img/icon-house.svg) no-repeat center;
    background-size: 40px;
  }

  &--souvenir::before{
    background: url(../img/icon-gift.svg) no-repeat center;
    background-size: 40px 37px;
  }

  &--food::before{
    background: url(../img/icon-burger.svg) no-repeat center;
    background-size: 40px;
  }

  @media (min-width: $width-tablet){
    font-size: $font-size-headline-bigger;
    margin: 0 0 20px;
    padding-top: 107px;
  }
}

.advantages-description-item__paragraph{
  font-size: $font-size-basic;
  line-height: $font-line-height-small;
  margin: 0 0 10px;
  text-transform: uppercase;
}
