.hotels{
  @mixin container;
  box-sizing: border-box;
  padding: 28px 0 0;

  @media (min-width: $width-tablet){
    padding-top: 55px;
  }
}
.hotels__inner{
  padding: 0 20px;
}
.hotels__title{
  font-size: $font-size-headline-bigger;
  font-weight: bold;
  line-height: $font-line-height-basic;
  margin: 0 0 20px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $width-tablet){
    font-size: $font-size-headline-big;
    margin: 0 0 32px;
  }
}
.hotels__paragraph{
  font-size: $font-size-basic;
  line-height: $font-line-height-basic;
  margin: 0 0 36px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $width-tablet){
    padding: 0 20px;
    margin: 0 0 43px;
  }

  @media (min-width: $width-desktop){
    margin-bottom: 47px;
  }

  br{
    display: none;

    @media (min-width: $width-tablet){
      display: block;
    }
  }
}
.hotels__map{
  background: url(../img/bg-map-mobile@1x.jpg) no-repeat center / cover;
  height: 350px;
  text-align: center;

  @media (max-width: $width-tablet) and (min-resolution: 144dpi),
  (max-width: $width-tablet) and (min-resolution: 1.5dppx) {
    background: url(../img/bg-map-mobile@2x.jpg) no-repeat center / cover;
  }

  @media (min-width: $width-tablet){
    background: url(../img/bg-map-tablet@1x.jpg) no-repeat center / cover;
  }
  @media (min-width: $width-tablet) and (min-resolution: 144dpi),
  (min-width: $width-tablet) and (min-resolution: 1.5dppx) {
    background: url(../img/bg-map-tablet@2x.jpg) no-repeat center / cover;
  }

  @media (min-width: $width-desktop){
    background: url(../img/bg-map-desktop@1x.jpg) no-repeat center / cover;
  }

  @media (min-width: $width-desktop) and (min-resolution: 144dpi),
  (min-width: $width-desktop) and (min-resolution: 1.5dppx) {
    background: url(../img/bg-map-desktop@2x.jpg) no-repeat center / cover;
  }
}
