.intro{
  @mixin container;
  background-color: $color-bg-intro;
  background: url(../img/bg-intro-triangle-mobile.svg) no-repeat center / cover, url(../img/bg-back-mobile@1x.jpg) no-repeat center / cover;
  box-sizing: border-box;
  clip-path: url(../img/bg-intro-triangle-mobile.svg);
  color: $color-text-light;
  margin-top: -25px;
  padding: 90px 20px 85px;
  text-align: center;

  @media (min-width: $width-tablet){
    margin-top: 0;
    min-height: 520px;
  }

  &--inner{
    padding: 50px 20px 68px;

    @media (min-width: $width-tablet){
      min-height: 290px;
    }
  }
}
