.intro{
  @mixin container;
  background: $bg-intro url(/img/bg-back-mobile@1x.jpg) no-repeat center / cover;
  box-sizing: border-box;
  color: $color-text-inverse;
  margin-top: -25px;
  padding: 90px 20px;
  text-align: center;

  @media (min-width: $tablet-widths){
    margin-top: 0;
    min-height: 520px;
  }

  &--inner{
    padding: 50px 20px 68px;

    @media (min-width: $tablet-widths){
      min-height: 290px;
    }
  }
}
