.likes{
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.likes__link{
  margin-right: 15px;
}
.likes__counter{
  font-size: $font-size-basic;
  font-weight: bold;
  line-height: $font-line-height-basic;
}
