.likes{
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.likes__link{
  margin-right: 15px;

  @media (min-width: $width-tablet){
    margin-right: 10px;
  }

  @media (min-width: $width-desktop){
    path{
      fill: $color-bg-light;
    }
  }
}
.likes__counter{
  font-size: $font-size-basic;
  font-weight: bold;
  line-height: $font-line-height-basic;
}
