.main-menu{
  background: $color-bg-main;
  box-shadow: inset 0px -1px 5px 0px rgba(0,0,0,0.2);
  color: $color-text;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;

  @media (min-width: $width-tablet){
    flex-direction: row;
    justify-content: space-between;
    background: none;
    box-shadow: none;
    color: $color-text;
    padding: 19px 0 20px;
  }
}
@media (max-width: $width-tablet){
  .main-menu,
  .page-header--closed .main-menu{
    display: none;
  }
  .page-header--nojs .main-menu,
  .page-header--opened .main-menu{
    display: flex;
  }
}
.main-menu__item{
  color: $color-text-inverse;
  font-size: $font-size-headline;
  text-transform: uppercase;

  &:first-of-type a{
    border-top: 0;
  }
  &:last-of-type a{
    border-bottom: 0;
  }

  @media (min-width: $width-tablet){
    font-size: $font-size-basic;
    font-weight: bold;
    padding: 0 20px;

    &:first-of-type{
      padding: 0 50px;
    }
    &:nth-of-type(2){
      margin-right: 165px;
    }
    &:last-of-type{
      padding: 0 26px;
    }
  }

  a{
    box-sizing: border-box;
    border-top: 1px solid $color-border-menu-light;
    border-bottom: 1px solid $color-border-menu-dark;
    color: $color-text-light;
    display: block;
    padding: 17px 20px 17px;
    text-decoration: none;

    @media (min-width: $width-tablet){
      border: 0;
      color: $color-text;
      padding: 0;
    }
  }
}
