.menu-trigger {
  background: url(../img/icon-menu.svg) no-repeat center;
  background-size: 23px 23px;
  display: inline-block;
  font-size: 0;
  height: 23px;
  margin: 12px 15px;
  padding: 5px;
  position: absolute;
  right: 0;
  top: 0;
  width: 23px;
  z-index: 2;

  @media (min-width: $width-tablet){
    display: none;
  }
}
.page-header--nojs .menu-trigger{
  display: none;
}
.page-header--opened .menu-trigger{
    background: url(../img/icon-cross.svg) no-repeat center;
    background-size: 23px 23px;
}
