.photo-video{
  @mixin container;
}
.photo-video__title{
  font-size: 18px;
  line-height: 1.444em;
  margin: 0 0 20px;
  text-align: center;
  text-transform: uppercase;
}
.photo-video__paragraph{
  font-size: 14px;
  line-height: 1.5em;
  text-align: center;
  text-transform: uppercase;
}
