.photo-video{
  @mixin container;
  padding-top: 37px;

  @media (min-width: $width-tablet){
    padding-top: 75px;
  }
  @media (min-width: $width-desktop){
    padding-top: 110px;
  }
}
.photo-video__inner{
  border-bottom: 1px solid $color-bg-grey;
  padding: 0 20px 29px;
  margin: 0;

  @media (min-width: $width-tablet){
    border-bottom-color: transparent;
  }
}
.photo-video__title{
  font-size: $font-size-headline;
  line-height: $font-line-height-headline;
  margin: 0 0 25px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $width-tablet){
    font-size: $font-size-headline-big;
    margin: 0 0 29px;
  }
}
.photo-video__paragraph{
  font-size: $font-size-basic;
  line-height: $font-line-height-basic;
  padding: 0;
  margin: 0 auto;
  max-width: 445px;
  text-align: center;
  text-transform: uppercase;
}
