.presentation__title{
  font-size: $font-size-headline;
  line-height: $font-line-height-headline;
  margin: 0 0 30px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $width-tablet){
    font-size: $font-size-headline-big;
  }
}
.presentation__paragraph{
    font-size: $font-size-basic;
    line-height: $font-line-height-basic;
    margin: 0 30px 35px;
    max-width: 420px;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: $width-tablet){
      margin: 0 auto 80px;
    }
}
