.presentation-video-controls{
  background: $color-bg-grey-light;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: -45px 20px 35px;
  padding: 0 0 23px 0;

  @media (min-width: $width-tablet){
    background: $color-dark-transparent;
    bottom: 0;
    box-sizing: border-box;
    height: 95px;
    margin: 0;
    padding: 35px 42px 35px 35px;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
}
