.presentation__title{
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 28px;
  text-align: center;
  text-transform: uppercase;
}
.presentation__paragraph{
    font-size: 14px;
    line-height: 24px;
    margin: 0 30px 35px;
    text-align: center;
    text-transform: uppercase;
}
