.review{
  @mixin container;
  padding-top: 37px;

  @media (min-width: $width-tablet){
    padding-top: 76px;
  }
}
.review__inner{
  border-bottom: 1px solid $border-color;
  padding: 0 22px 20px;

  @media (min-width: $width-tablet){
    border-bottom: 0;
    padding-bottom: 60px;
  }
}
.review__title{
  font-size: $font-size-headline;
  line-height: $font-line-height-headline;
  margin: 0 0 25px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $width-tablet){
    font-size: $font-size-headline-big;
    margin: 0 0 29px;
  }
}
.review__paragraph{
  font-size: $font-size-basic;
  line-height: $font-line-height-basic;
  padding: 0;
  margin: 0 auto;
  max-width: 445px;
  text-align: center;
  text-transform: uppercase;
}
