.review-form {
  max-width: 620px;
  margin: 0 auto;

  @media (min-width: $tablet-widths){
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-widths){
    max-width: 960px;
  }
}
.review-form__error{
  position: absolute;

  @media (min-width: $tablet-widths){
    top: 0;
    right: 0;
  }

  @media (min-width: $desktop-widths){
    top: -25px;
    text-align: center;
    width: 100%;
  }
}
.review-form__submit-wrap{
  @media (min-width: $tablet-widths){
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.review-form__btn{
  @media (min-width: $tablet-widths){
    margin-left: 0;
    margin-right: 0;
  }
}
