.social-list{
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0 0 30px;
  padding: 0;

  @media (min-width: $width-tablet){
    padding-right: 5px;
  }

  @media (min-width: $width-desktop){
      padding-right: 85px;
  }
}
