.social-item{
  margin: 0 3px;
  min-width: 46px;
  min-height: 48px;

  @media (min-width: $width-tablet){
    margin: 0 6px 0 0;
  }

  a{
    align-items: center;
    background: $color-bg-main;
    color: $color-text-light;
    display: flex;
    justify-content: center;
    height: 48px;
    transition: $transition-main;

    path{
      fill: $color-bg-light;
      transition: $transition-main;
    }

    &:hover{
      background: $color-bg-main-darken;
    }

    &:focus{
      color: $color-light-transparent;
      background: $color-bg-main-dark;

      path{
        fill: $color-light-transparent;
      }
    }
  }
}
